[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = technitium-dns-mcp[mcp]>={current_version}
replace = technitium-dns-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = technitium-dns-mcp[agent]>={current_version}
replace = technitium-dns-mcp[agent]>={new_version}

[bumpversion:file:technitium_dns_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:technitium_dns_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
